
mkdocs>=1.5
mkdocs-material>=9.5
mkdocs-mermaid2-plugin>=1.1
# optional for Python API autodocs
mkdocstrings>=0.24
mkdocstrings-python>=1.10.8


sphinx>=8.2.3
sphinxcontrib-mermaid>=1.0.0
sphinx_rtd_theme>=3.0.2
breathe>=4.36.0
myst-parser>=4.0.1